In [1]:
import numpy as np
import pandas as pd

# Data 1

In [2]:
d1 = pd.read_csv('dataset/clickbait_data.csv')
print(d1.shape)
d1.head()

(32000, 2)

                                            headline  clickbait
0                                 Should I Get Bings          1
1      Which TV Female Friend Group Do You Belong In          1
2  The New "Star Wars: The Force Awakens" Trailer...          1
3  This Vine Of New York On "Celebrity Big Brothe...          1
4  A Couple Did A Stunning Photo Shoot With Their...          1

In [3]:
d1.columns = ['text', 'clickbait']
d1.head()

                                                text  clickbait
0                                 Should I Get Bings          1
1      Which TV Female Friend Group Do You Belong In          1
2  The New "Star Wars: The Force Awakens" Trailer...          1
3  This Vine Of New York On "Celebrity Big Brothe...          1
4  A Couple Did A Stunning Photo Shoot With Their...          1

# Data 2

In [4]:
d2 = pd.read_csv('dataset/train.csv')
print(d2.shape)
d2.head()

(24871, 3)

,label,title,text
0,news,China and Economic Reform: Xi Jinping’s Track ...,Economists generally agree: China must overhau...
1,news,Trade to Be a Big Topic in Theresa May’s U.S. ...,LONDON—British Prime Minister Theresa May said...
2,clickbait,"The Top Beaches In The World, According To Nat...",Beaches come in all sorts of shapes and sizes ...
3,clickbait,Sheriff’s Report Provides New Details on Tamir...,"A timeline of what happened after Tamir Rice, ..."
4,news,Surgeon claiming he will transplant volunteer'...,An Italian neurosurgeon who has claimed for mo...

In [5]:
d2.drop(['text'], axis=1, inplace=True)
d2.columns = ['clickbait', 'text']
d2['clickbait'] = d2['clickbait'].apply(lambda x : 0 if x == 'news' else 1)
d2.head()

   clickbait                                               text
0          0  China and Economic Reform: Xi Jinping’s Track ...
1          0  Trade to Be a Big Topic in Theresa May’s U.S. ...
2          1  The Top Beaches In The World, According To Nat...
3          1  Sheriff’s Report Provides New Details on Tamir...
4          0  Surgeon claiming he will transplant volunteer'...

# Data 3

In [6]:
d3 = pd.read_csv('dataset/valid.csv')
print(d3.shape)
d3.head()

(3552, 3)

,label,title,text
0,news,Trump says he is releasing something 'phenomen...,"Bob Bryan, Business Insider 9.02.2017, 16:25 1..."
1,news,Fidel Castro's ashes make their final journey ...,Cubans have been lining the streets from Havan...
2,news,Obama Administration Sending $500 Million to G...,WASHINGTON—The Obama administration announced ...
3,news,Insurers Are Worried About The House GOP Healt...,The main industry groups representing health i...
4,news,Kobe Bryant and Nike Form Youth Basketball 'Ma...,A year after Kobe Bryant concluded his NBA car...

In [7]:
d3.drop(['text'], axis=1, inplace=True)
d3.columns = ['clickbait', 'text']
d3['clickbait'] = d3['clickbait'].apply(lambda x : 0 if x == 'news' else 1)
d3.head()

   clickbait                                               text
0          0  Trump says he is releasing something 'phenomen...
1          0  Fidel Castro's ashes make their final journey ...
2          0  Obama Administration Sending $500 Million to G...
3          0  Insurers Are Worried About The House GOP Healt...
4          0  Kobe Bryant and Nike Form Youth Basketball 'Ma...

# Data 4

In [8]:
d4 = pd.read_csv('dataset/webis-clickbait-16.csv')
print(d4.shape)
d4.head()

(2992, 2)

                                                text         label
0  RT @WSJLive: This year's Tony nominees desribe...     clickbait
1  Orphaned fruit bat pups nursed back to health ...  no-clickbait
2  Catching up with Manon Rhéaume, who inspired m...  no-clickbait
3  Ohio State’s Tyvis Powell learned that champio...  no-clickbait
4  This week in credit card news: http://t.co/KPf...  no-clickbait

In [9]:
d4.columns = ['text', 'clickbait']
d4['clickbait'] = d4['clickbait'].apply(lambda x : 0 if x == 'no-clickbait' else 1)
d4.head()

                                                text  clickbait
0  RT @WSJLive: This year's Tony nominees desribe...          1
1  Orphaned fruit bat pups nursed back to health ...          0
2  Catching up with Manon Rhéaume, who inspired m...          0
3  Ohio State’s Tyvis Powell learned that champio...          0
4  This week in credit card news: http://t.co/KPf...          0

# Data 5

In [10]:
d5 = pd.read_csv('dataset/rvcj.csv')
print(d5.shape)
d5.head()

(23457, 2)

                                            headline  clickbait
0  Rohit Roy Tells What Is Similar Between Hrithi...       True
1  Sushant’s BFF Mahesh Shetty Pays An Emotional ...       True
2  Ravichandran Ashwin Praises Virat Kohli For Hi...       True
3  Shraddha Kapoor Writes A Heartfelt Post For Su...       True
4  Yuzvendra Chahal Feels Glenn Maxwell Lacks Pat...       True

In [11]:
d5.columns = ['text', 'clickbait']
d5.head()

                                                text  clickbait
0  Rohit Roy Tells What Is Similar Between Hrithi...       True
1  Sushant’s BFF Mahesh Shetty Pays An Emotional ...       True
2  Ravichandran Ashwin Praises Virat Kohli For Hi...       True
3  Shraddha Kapoor Writes A Heartfelt Post For Su...       True
4  Yuzvendra Chahal Feels Glenn Maxwell Lacks Pat...       True

# Data 6

In [12]:
d6 = pd.read_csv('dataset/InshortsScraped.csv')
print(d6.shape)
d6.head()

(41934, 8)

,news,national,sports,world,politics,technology,entertainment,hatke
0,7 IITs among India's top higher education inst...,1,0,0,0,0,0,0
1,They forget she's 14: Devgn on trolls criticis...,0,0,0,0,0,1,0
2,Haven't earned so much that I can wear new clo...,0,0,0,0,0,1,0
3,Fans in US sing Desi Girl for Priyanka outside...,0,0,0,0,0,1,0
4,"Dhoni bhai was very angry, he hugged me after ...",0,1,0,0,0,0,0

In [13]:
d6.drop(['national', 'sports', 'world', 'politics', 'technology', 'entertainment', 'hatke'], axis=1, inplace=True)
d6['clickbait'] = 0
d6.columns = ['text', 'clickbait']
d6.head()

                                                text  clickbait
0  7 IITs among India's top higher education inst...          0
1  They forget she's 14: Devgn on trolls criticis...          0
2  Haven't earned so much that I can wear new clo...          0
3  Fans in US sing Desi Girl for Priyanka outside...          0
4  Dhoni bhai was very angry, he hugged me after ...          0

In [14]:
d = pd.concat(
    [d1, d2, d3, d4, d5, d6]
).sample(frac=1.0).reset_index(drop=True)
print(d.shape)
d.head()

(128806, 2)

                                                text  clickbait
0  Mithun Chakraborty’s Adopted Daughter Dishani ...          1
1  50 lakh street vendors to benefit from ₹5,000-...          0
2  Mayhem with new ball: Boult on WC semi-final w...          0
3  Delhi's infant mortality rate below national l...          0
4  Two @Royals prospects had a bet on the Arkansa...          1

In [15]:
d.drop_duplicates(subset='text', keep=False, inplace=True)
d.dropna(inplace=True)
d.reset_index(drop=True, inplace=True)
print(d.shape)
d.head()

(122892, 2)

                                                text  clickbait
0  Mithun Chakraborty’s Adopted Daughter Dishani ...          1
1  50 lakh street vendors to benefit from ₹5,000-...          0
2  Mayhem with new ball: Boult on WC semi-final w...          0
3  Delhi's infant mortality rate below national l...          0
4  Two @Royals prospects had a bet on the Arkansa...          1

In [16]:
d.to_csv('dataset/data.csv', index=False)